
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 450px;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    .container {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }
    h2 {
        color: #333;
    }
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }







    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
      }
      
      * {
        box-sizing: border-box;
      }
      
     
      .container {
        padding: 1px;
        background-color: white;
      }
      
      /* Full-width input fields */
      input[type=text], input[type=password] {
        width: 100%;
        padding: 0px;
        margin: 5px 0 2px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      
      input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Overwrite default styles of hr */
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
      
      /* Set a style for the submit button */
      .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 4px 0;
        border: none;
        cursor: pointer;
        width: 50%;
        opacity: 0.9;
      }
      
      .registerbtn:hover {
        opacity: 1;
      }
      
      
     
    
      .signin {
        background-color: #f1f1f1;
        text-align: center;
      }